.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.menu-list-container {
  width: 30%;
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.menu-item-name {
  font-weight: bold;
  font-size: 16px;
}

.menu-item-price {
  font-size: 14px;
  color: #666;
}

.menu-detail-container {
  width: 70%;
  padding: 20px;
}

.menu-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  /* height: calc(100vh - 60px); */
  overflow-y: auto;
}

.menu-card {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.menu-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}
.menu-card h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #343a40;
}

.menu-card p {
  flex-grow: 1;
  margin: 0 0 10px 0;
  color: #6c757d;
}

.menu-card .price {
  font-size: 1.1em;
  font-weight: bold;
  color: #343a40;
}

.menu-card button {
  padding: 10px;
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.menu-card button:hover {
  background-color: #218838;
}
