.order-list {
  width: 25%;
  padding: 20px;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

.order-list::-webkit-scrollbar {
  display: none;
}

.order-card {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-card h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #343a40;
}

.order-card .order-details {
  color: #6c757d;
}

.select-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.select-container select {
  flex: 1;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.select-container .clear-button {
  margin-left: 10px;
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.select-container .clear-button:hover {
  background-color: #f0f0f0;
}

.select-container .clear-button:active {
  background-color: #ccc;
}

@media (max-width: 768px) {
  .order-list {
    width: 100%;
    border: none;
    border-bottom: 1px solid #dee2e6;
  }
}

.status {
  padding: 7px 15px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

.status.pending {
  background-color: #f44336;
  box-shadow: 0 4px 6px rgba(244, 67, 54, 0.3);
}

.status.paid {
  background-color: #4caf50;
  box-shadow: 0 4px 6px rgba(76, 175, 80, 0.3);
}

.order-card button {
  padding: 10px;
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.no-orders {
  text-align: center;
  margin: 0;
  color: #6c757d;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 480px) {
  .order-card h4 {
    font-size: 1em;
  }
}
